@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloques{

  &__grid{
    @include m.tablet{
      @include m.grid(2,0rem);
      grid-auto-flow: dense;  //se aplica aqui en el padre y esto lo que hace es rellenar el espacio del grid ya que al colocar y mover ese columna la otra hace un salto de linea dejando un espacio vacio con esta propiedad se rellena ese vaio con la imagen que hizo el salto de linea como se uiere 
    }

  }
}

.bloque{
  height: 40rem;  //para darle una altura fija a los bloques 
  display: flex;  //aqui en el padre se aplica el codigo para centrar a contenido tanto vertical como horizontalmente cabe destacar que los bloques de las imagenes no se vera afectado pero la de los contenidos si 
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  &:nth-child(1){
    background-color: v.$primario;
  }

  &:nth-child(2){
   @include m.bg_image('../img/bloque_1.jpg');  //con el mixin se le coloca la imagen al bloque deseasdo 
  }

  &:nth-child(3){
    background-color: v.$secundario;

   @include m.tablet{   //debido que al colocar este bloque en esa columna el contenido que ya estaba en esa posicion se movera hacia abajo creando otra columna para ello se coloca en el padr de bloque un grid-auto-flow
    grid-column: 2/3;
   }
  }

  &:nth-child(4){
    @include m.bg_image('../img/bloque_2.jpg');
  }


  &__contenido{   // el padre de contenido es bloque por ende para centar todo el contenido se aplica el codigo en el padre 
    max-width: 40rem;

    border-top: 1px solid v.$blanco;
    border-bottom: 1px solid v.$blanco;
    color: v.$blanco;
    padding: 1rem;
  }

  &__heading{
    text-transform: uppercase;
  }

  &__texto{
    font-size: 2rem;
  }
}