@use 'base/variables' as v;
@use 'base/mixins' as m;

.clases{
  background-color: v.$gris;
  padding: 5rem 0;

  &__heading{
    @include m.heading;
  }

  &__grid{

    @include m.tablet{
      @include m.grid(2, 2rem);
    }

    @include m.desktop{
      @include m.grid(3, 2rem);
    }
  }

}

.clase{
  background-color: v.$blanco;
  border: 1px solid darken(v.$gris, 10%);

  &__meta{
    background-color: v.$primario;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: v.$blanco;
  }

  &__precio{
    background-color: v.$secundario;
    color: v.$negro;
    font-weight: 700;
    border-radius: 1rem;
    padding: .5rem;
    font-size: 1.2rem;
  }

  &__contenido{
    padding: 2rem;
  }

  &__nombre{
    min-height: 5.5rem;  //con este min height se le indica a los heding de este contenedor que tendran una altura minima de 55px para que de esta manera los contenedores queden alineados 
  }

  &__descripcion{
    color: v.$primario;
  }

  &__enlace{
    @include m.boton(v.$primario, v.$blanco);
    display: block;
    font-size: 1.6rem;
    padding: 1rem;
  }
}