@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{

  padding: 3rem 0;
  border-bottom: .5rem solid v.$primario;  //pra el borde del footer abajo se agregan en el padre

  &__grid{
    @include m.tablet{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__copyright{
    text-align: center;
    font-size: 2.4rem;
  }
}